
<div class="container">
  <h1>Book Appointment</h1>
  <h2>We are constantly searching for new models that will </h2>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>

    <label for="stylist">Stylist:</label>
    <select id="stylist" name="stylist" required>
      <option value="">--Please choose a stylist--</option>
      <option value="Dino">Dino</option>
      <option value="Emir">Emir</option>
      <option value="Belmir">Belmir</option>
      <option value="Altin">Altin</option>
    </select>

    <label for="services">Services:</label>
    <select id="services" name="services" required>
      <option value="">--Please choose a stylist--</option>
      <option value="Haircut">Haircut</option>
      <option value="Styling">Styling</option>
      <option value="Washing">Washing</option>
      <option value="Coloring">Coloring</option>
    </select>

    <input type="submit" value="Book Now">

  </form>
</div>
<footer>
  <p>&copy; 2023 Hair Salon</p>
</footer>
