header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
}

nav a:hover {
  color: #f44336;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  background-image: url('src/assets/images/frizerskibook.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-position: center;
  padding-bottom:20px;
  margin-bottom:20px;
  padding-top: 20px;
}

.paragraph {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: #ffffff;
  font-style: italic;
  opacity: 70%;

}

.heder {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;

}

p{
  text-align: center;

}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select#stylist,
select#services{
  width: 95%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin: 5px auto;
}

select#stylist,
select#services {
  -webkit-appearance: none; /* Remove default styles for select elements */
  -moz-appearance: none;
  appearance: none;
  width: 100%; /* Set the width to 100% to match the input elements */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 20'><polygon fill='%23000000' points='0,0 30,0 15,20'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 15px;
}

button {
  background-color: #202020;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #b71c1c;
}


form[name="forma"]{
  background-color: #E8E8E8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #cccccc;
  margin: 0 auto;
  max-width: 500px;
}

@media only screen and (max-width: 390px) {
  header {
    padding: 0.5rem;
  }

  .body {
    width: 390px;
  }

  .logo {
    width: 60px;
  }

  nav li {
    margin: 0.25rem;
  }

  nav a {
    font-size: 8px;
  }

  .login-btn {
    font-size: 14px;
    padding: 0.25rem 0.5rem;
  }
}

