<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <h1>Book Appointment</h1>
  <h2>Discover a new you. Book your appointment today!</h2>
  <form>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>

    <label for="stylist">Stylist:</label>
    <select id="stylist" name="stylist" required>
      <option value="">--Please choose a stylist--</option>
      <option value="Dino">Dino</option>
      <option value="Emir">Emir</option>
      <option value="Belmir">Belmir</option>
      <option value="Altin">Altin</option>
    </select>

    <label for="services">Services:</label>
    <select id="services" name="services" required>
      <option value="">--Please choose a stylist--</option>
      <option value="Haircut">Haircut</option>
      <option value="Styling">Styling</option>
      <option value="Washing">Washing</option>
      <option value="Coloring">Coloring</option>
    </select>

<!--    <input type="submit" routnerLink= "/createappointment" value="Book Now">-->
    <button (click)="bookNow()">Book Now</button>

  </form>
</div>
  <footer>
    <div class="footer-content">
      <div class="about-us">
        <h3>About Us</h3>
        <p>The Art of Hair Design. Experience the</p> <p>ultimate in hair design with our expert stylists.</p>
      </div>
      <div class="contact-info">
        <h3>Contact Information</h3>
        <p>Address: Ulica Dzemala Bijedica, Sarajevo, BiH.</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: info@hairsalon.com</p>
      </div>
      <div class="newsletter">
        <h3>Subscribe to Our Newsletter</h3>
        <form>
          <input type="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>
        <div class="social-icons">
          <a href="https://www.facebook.com/CrnaHronikaBiHofficial"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/crnahronikabih/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
<p class="footer-bottom">&copy; 2023 Hair Salon. All Rights Reserved.</p>

