<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>
<body>
<div class="heder">Book Appointment</div>
  <div class="paragraph">
    <p>Discover a new you. Book your appointment today!</p>
  </div>
  <form name="forma">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required>

    <label for="stylist">Stylist:</label>
    <select id="stylist" name="stylist" required>
      <option value="">--Please choose a stylist--</option>
      <option *ngFor="let stylist of stylists" >{{ stylist.name }}</option>
    </select>

    <label for="services">Services:</label>
    <select id="services" name="services" required>
      <option value="">--Please choose a stylist--</option>
      <option *ngFor="let service of services" >{{ service.name }}</option>
    </select>


<!--    <input type="submit" routnerLink= "/createappointment" value="Book Now">-->
    <button type="button" (click)="bookNow()">Book Now</button>

  </form>
</body>
<app-footer></app-footer>



