
footer {
  background-color: #333;
  padding: 2em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 350px;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  color: #fff;
}

.footer-content h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.about-us p,
.contact-info p {
  color: #555;
  margin-bottom: 5px;
  color: #fff;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.newsletter input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  color: #000;
}
.newsletter button:hover {
  background-color: #23527c;
}

.newsletter button:active {
  background-color: #000000;
}

.newsletter button {
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  align-self: flex-start;

}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}

.social-icons a:hover {
  color: #ff0000;
}

.footer-bottom {
  margin-top: 10px;
  color: #777;
  text-align: center;
}

iframe {
  width: 550px;
  height: 100%;
  border: none;
}

@media screen and (max-width: 390px) {
  footer {
    height: auto;
    padding: 1em;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .newsletter input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

}
