<header>
  <div class="logo">
    <a [routerLink]="['/']">
    <img src="assets/images/logo.avif" alt="Our Logo">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>
<body>
<div class="container">
  <div class="left">
    <div class="extras">The Extras Are On The House</div>
    <h2>Services</h2>
    <p>Hair Salon believes in providing customers with the best possible experience<br>which is why our services include:</p>
    <ul>
      <li>Complimentary beverage</li>
      <li>Perfect haircut</li>
      <li>Relaxing shampoo</li>
      <li>Hot towel and mint</li>
      <li>Complimentary shoeshine</li>
    </ul>
  </div>
  <div class="right">
    <img src="assets/images/barber.jpg" alt="slika sisanja">
  </div>
</div>
<div class="naslov">
  <h2>SERVICES MENU</h2>
</div>
<div class="container1">
  <div class="service">
    <h2>CLASSIC</h2>
    <p>Includes on-the-house amenities and a perfect haircut</p>
    <h2>PREMIUM</h2>
    <p>The Classic plus a therapeutic scalp massage</p>
    <h2>EXECUTIVE</h2>
    <p>The Premium plus a neck shave, an extended therapeutic scalp massage, and an extended stress-relieving neck and shoulder massage</p>
  </div>
  <div class="image">
    <img src="assets/images/makaze.png" alt="slika makaze">
  </div>
  <div class="service1">
    <h2>JR. MEN'S</h2>
    <p>Includes on-the-house amenities (minus the shampoo) and a perfect haircut for the young men 18 and under</p>
    <h2>STRESS RELIEF</h2>
    <p>Includes on-the-house amenities, tighten the edges, neck shave, therapeutic scalp massage, relaxing shampoo and conditioner, stress-relieving neck and shoulder massage</p>
  </div>
</div>
<div class="container2">
  <div class="service2">
    <h2>FACE or HEAD SHAVE</h2>
    <p>Includes on-the-house amenities, consultation, hot towel treatment, pre-shave oil application, Saloon shave cream application, razor shave and after-shave balm ﬁnish</p>
  </div>
  <div class="image1">
    <img src="assets/images/brijac.png" alt="slika brijaca">
  </div>
  <div class="service3">
    <h2>STRAIGHT RAZOR
      BEARD LINING</h2>
    <p>Includes on-the-house amenities, consultation, hot towel treatment, pre-shave oil application, Saloon shave cream application, razor shave and after-shave balm finish</p>
  </div>
</div>
<div class="container3">
  <div class="service4">
    <h2>NECK SHAVE</h2>
    <p>with Classic or Premium service</p>
    <h2>GOATEE TRIM</h2>
    <h2>BEARD TRIM</h2>
  </div>
  <div class="image2">
    <img src="assets/images/brush.png" alt="slika brush">
  </div>
  <div class="service5">
    <h2>CAMO</h2>
    <p>Camouﬂage the gray</p>
    <h2>SCALP RENEW</h2>
  </div>
</div>
</body>
<app-footer></app-footer>
<p class="footer-bottom">&copy; 2023 Hair Salon. All Rights Reserved.</p>

