<h1>Become A Model At Our Hairsalon</h1>
<div class="paragraph">
  <p>Thank you for expressing interest in becoming model for our hair salon. We are excited to review your application.
  <p>Please provide us with the following information to help us better understand your experience and qualifications:</p>
</div>

  <form>
  <label for="name">Full Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="phone">Phone number:</label>
  <input type="phone" id="phone" name="phone" required>

  <label for="age">Age:</label>
  <input type="age" id="age" name="age" required>

  <label for="message">Previous Experience:</label>
  <textarea id="message" name="message" placeholder="Previous experience with modeling..."></textarea>

  <input type="submit" value="Sign Up">
</form>
