<header>
  <div class="logo">
    <img src="assets/images/logo.avif" alt="Our Logo">
  </div>
  <nav>
    <ul>
      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['services']">Services</a></li>
      <li><a [routerLink]="['book']">Book Appointment</a></li>
      <li><a [routerLink]="['modelsignup']">Model Sign-up</a></li>
      <li><a>About us</a></li>
      <li><a [routerLink]="['login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>

<body>
<div class="motto">
  <h2>The Art of Hair Design</h2>
  <p>Experience the ultimate in hair design with our expert stylists. We specialize in precision cuts, bold color, and personalized styling to bring out your unique beauty.</p>
</div>
<div class="services-container" style="background-image: url('assets/images/barbershop.jpg');">
  <h2>Our Services</h2>
  <p>At our hair salon, we offer a wide range of services to help you look and feel your best. Our experienced stylists are trained to provide top-notch services, from haircuts and coloring to treatments and styling.</p>
  <button class="learn-more-btn">Learn More</button>
</div>

<div style="background-image: url(assets/images/background1.webp); opacity: 0.8; height: 600px; background-size: cover;">
  <div style="position: relative; max-width: 1000px; margin: 0 auto; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
      <div style="margin-right: 50px; margin-top: 50px;">
        <img src="assets/images/chair.png" alt="chair" style="max-width: 100%; height: 100%;">
      </div>
      <div style="text-align: center;">
        <h2>About us</h2>
        <h1>While today’s world is filled with numerous clip joints and fancy salons, our Hair Salon is building something better.</h1>
        <p>Since 1997, The Hair Salon has been helping to recapture this tradition. We’re filling a void in life that has as much to do with the restoration of men and women as it does with the business of haircutting.</p>
        <button class="learn-more-btn">Learn More</button>    </div>
    </div>
  </div>
</div>

<div class="review-section" style="background-color: #f2f2f2; padding: 50px;">
  <div class="review-container" style="max-width: 800px; margin: 0 auto; display: flex; justify-content: space-between; gap: 60px;">
    <div class="review-box">
      <div class="review-text">
        <p>"I've been going to Hair Saloon for years now and I always leave with a great haircut. The staff is friendly and the atmosphere is relaxed. Highly recommend!"</p>
      </div>
      <div class="review-author">
        <img src="assets/images/man.jpg" alt="man1" style="border-radius: 50%; max-width: 100%; height: auto; margin-right: 10px;">
        <div>
          <h3>Emir Sabic</h3>
          <p>Customer</p>
        </div>
      </div>
    </div>
    <div class="review-box">
      <div class="review-text">
        <p>"I was nervous about trying a new hair salon, but Hair Saloon exceeded my expectations. Will definitely be coming back!"</p>
      </div>
      <div class="review-author">
        <img src="assets/images/man.jpg" alt="man2" style="border-radius: 50%; max-width: 100%; height: auto; margin-right: 10px;">
        <div>
          <h3>Dino Klacar</h3>
          <p>Customer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="review-cta" style="text-align: center; margin-top: 5px;">
    <h2 class="minuta">Have a minute?</h2>
    <p>Leave us a review and let us know how we're doing.</p>
    <button class="review-btn">Leave a Review</button>
  </div>
</div>

<footer>
  <div class="footer-content">
    <h3>Contact Us</h3>
    <p>Ulica Dzemala Bijedica, Sarajevo, BiH. | Phone: 555-555-5555 | Email: info@hairsalon.com</p>
    <p>&copy; 2023 Hair Salon. All Rights Reserved.</p>
  </div>
</footer>

