<header>
  <div class="logo">
    <img src="assets/images/logo.avif" alt="Our Logo">
  </div>
  <nav>
    <ul>

      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/']" class="login-btn">Home</a></li>
    </ul>
  </nav>
</header>

<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1>Login</h1>
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary" >Login</button>
  </form>
  <a [routerLink]="['/signup']" >Sign up</a>
</div>
