header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
}

nav a:hover {
  color: #f44336;
}

.login-btn {
  background-color: #E85A4F;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}
.login-btn:hover {
  background-color: #fff;
  color: #f44336;
  border: 2px solid #f44336;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
    background-image: url('src/assets/images/slikalog.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-position: center;
    margin-bottom: 20px;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 80px; /* Increase the padding to create more space */
  margin-right: 100px; /* Increase the margin to add more spacing around the form */
  margin-left: 100px;
  border-radius: 10px; /* Increase the border radius for rounded corners */
  box-shadow: 0px 0px 10px 0px #ccc;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {

  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom:30px;
    margin-top:10px;

}

@media only screen and (max-width: 390px) {
  header {
    padding: 0.5rem;
  }

  .body {
    width: 390px;
  }

  .logo {
    width: 60px;
  }

  nav li {
    margin: 0.25rem;
  }

  nav a {
    font-size: 8px;
  }

  .login-btn {

    font-size: 14px;
    padding: 0.25rem 0.5rem;

  }
}
