<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
      <li><a [routerLink]="['/signup']" class="login-btn">Signup</a></li>
    </ul>
  </nav>
</header>

<body>
<div class="motto" style="background-image: url(assets/images/background1.webp); opacity: 0.8; background-size: cover;">
  <h2>The Art of Hair Design</h2>
  <p>Experience the ultimate in hair design with our expert stylists. We specialize in precision cuts, bold color, and personalized styling to bring out your unique beauty.</p>
</div>
<div class="services-container" style="background-image: url('assets/images/barbershop.jpg');">
  <h2>Our Services</h2>
  <p>At our hair salon, we offer a wide range of services to help you look and feel your best. Our experienced stylists are trained to provide top-notch services, from haircuts and coloring to treatments and styling.</p>
  <button class="learn-more-btn" [routerLink]="['/services']">Learn More</button>
</div>

<div style="background-image: url(assets/images/background1.webp); opacity: 0.8; height: 600px; background-size: cover;">
  <div style="position: relative; max-width: 1000px; margin: 0 auto; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="container3" style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
      <div style="margin-right: 50px; margin-top: 50px;">
        <img src="assets/images/chair.png" alt="chair" style="max-width: 100%; height: 100%;">
      </div>
      <div style="text-align: center;">
        <h2>About us</h2>
        <h1>While today’s world is filled with numerous clip joints and fancy salons, our Hair Salon is building something better.</h1>
        <p>Since 1997, The Hair Salon has been helping to recapture this tradition. We’re filling a void in life that has as much to do with the restoration of men and women as it does with the business of haircutting.</p>
        <button class="learn-more-btn" [routerLink]="['/aboutus']">Learn More</button>
      </div>
    </div>
  </div>
</div>
<div class="review-section">
  <div class="review-container" #reviewContainer style="overflow: auto; white-space: nowrap;">
    <div class="review-box" *ngFor="let review of reviews">
      <div class="review-author">
        <img src="assets/images/avatar.png" alt="man1" class="review-author-image">
        <div class="review-author-name">
          {{ review.name }}
        </div>
      </div>
      <div class="review-comment">
        {{ review.review }}
      </div>
      <button (click)="deleteReview(review)"  *ngIf="review.username===username">Delete</button>
    </div>
  </div>
  <div class="carousel-buttons" *ngIf="reviews.length > 4">
    <button class="carousel-button" (click)="scrollCarousel('prev')">Previous</button>
    <button class="carousel-button" (click)="scrollCarousel('next')">Next</button>
  </div>
  <div class="review-cta">
    <h2 class="minuta">Have a minute?</h2>
    <p>Leave us a review and let us know how we're doing.</p>
    <button class="review-btn" (click)="openReviewForm()">Leave a Review</button>
  </div>
</div>
<app-review-popup
  *ngIf="showReviewForm"
  (close)="closeReviewForm()"
  (submit)="submitReview($event)"
></app-review-popup>
</body>
<app-footer></app-footer>


