<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>

<body>
<main>
  <section class="about">
    <h2>Welcome to Our Hair Salon</h2>
    <p>
      At our hair salon, we believe in providing exceptional services that make our clients look and feel their best. With our team of skilled stylists and a modern and welcoming atmosphere, we strive to create a memorable salon experience for each and every client.
    </p>
    <p>
      Our dedicated staff stays up-to-date with the latest hair trends and techniques to ensure you receive the highest quality service. Whether you're looking for a simple haircut, a trendy hairstyle, or a complete hair transformation, we've got you covered.
    </p>
    <p>
      Step into our salon and let us pamper you with our range of services, including haircuts, styling, coloring, highlights, extensions, and more. We listen to your needs and work closely with you to achieve the perfect look that suits your unique style and personality.
    </p>
  </section>
</main>
</body>
<app-footer></app-footer>


