<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>

<body>
<section class="about">>
  <h2>Our Talented Stylists</h2>
  <p>Meet our team of skilled and passionate stylists who are dedicated to creating the perfect look for you.</p>
  <p> With their expertise and creativity, they will ensure you leave our salon feeling confident and beautiful.</p>
</section>
<div class="container">
  <div class="stylist">
    <img src="assets/images/stylist3.jpeg" alt="Stylist 1">
    <h3>Emir</h3>
    <p>Kumar is a certified British Barbers Association barber, whose specialty is traditional wet shaves. With 8 years of barber experience in Japan prior to moving to Hong Kong and 10 years at the Mandarin Barber, Kumar is no stranger to the art of the blade. Book an appointment with Kumar and find out what makes the CUZ Signature Shave so special!</p>
  </div>
  <div class="stylist">
    <img src="assets/images/stylist1.png" alt="Stylist 2">
    <h3>Emir 2</h3>
    <p>Kumar is a certified British Barbers Association barber, whose specialty is traditional wet shaves. With 8 years of barber experience in Japan prior to moving to Hong Kong and 10 years at the Mandarin Barber, Kumar is no stranger to the art of the blade. Book an appointment with Kumar and find out what makes the CUZ Signature Shave so special!</p>
  </div>
  <div class="stylist">
    <img src="assets/images/stylist2.png" alt="Stylist 3">
    <h3>Emir 3</h3>
    <p>Kumar is a certified British Barbers Association barber, whose specialty is traditional wet shaves. With 8 years of barber experience in Japan prior to moving to Hong Kong and 10 years at the Mandarin Barber, Kumar is no stranger to the art of the blade. Book an appointment with Kumar and find out what makes the CUZ Signature Shave so special!</p>
  </div>
  <div class="stylist">
    <img src="assets/images/stylist3.jpeg" alt="Stylist 4">
    <h3>Emir 4</h3>
    <p>Kumar is a certified British Barbers Association barber, whose specialty is traditional wet shaves. With 8 years of barber experience in Japan prior to moving to Hong Kong and 10 years at the Mandarin Barber, Kumar is no stranger to the art of the blade. Book an appointment with Kumar and find out what makes the CUZ Signature Shave so special!</p>
  </div>
  <div class="stylist">
    <img src="assets/images/stylist2.png" alt="Stylist 3">
    <h3>Emir 3</h3>
    <p>Kumar is a certified British Barbers Association barber, whose specialty is traditional wet shaves. With 8 years of barber experience in Japan prior to moving to Hong Kong and 10 years at the Mandarin Barber, Kumar is no stranger to the art of the blade. Book an appointment with Kumar and find out what makes the CUZ Signature Shave so special!</p>
  </div>

</div>
</body>
<app-footer></app-footer>
