<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/stylist']">Stylist</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>
<div class="stylist-info">
  <h2 class="stylist-info-heading">Our Talented Stylists</h2>
  <p class="stylist-info-text">Meet our team of skilled and passionate stylists who are dedicated to creating the perfect look for you. With their expertise and creativity, they will ensure you leave our salon feeling confident and beautiful.</p>
</div>
<div class="stylist-container">
  <div class="stylist-card">
    <img src="assets/images/man.jpg" alt="Stylist 1" class="stylist-image">
    <h3 class="stylist-name">John Doe</h3>
    <p class="stylist-age">Age: 30</p>
    <p class="stylist-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu eleifend nisl.</p>
  </div>

  <div class="stylist-card">
    <img src="assets/images/man.jpg" alt="Stylist 2" class="stylist-image">
    <h3 class="stylist-name">Jane Smith</h3>
    <p class="stylist-age">Age: 28</p>
    <p class="stylist-description">Sed cursus mi vel mauris elementum, eget convallis mi ullamcorper. Quisque faucibus justo vel enim finibus, id lobortis mi semper.</p>
  </div>

  <div class="stylist-card">
    <img src="assets/images/man.jpg" alt="Stylist 2" class="stylist-image">
    <h3 class="stylist-name">Jane Smith</h3>
    <p class="stylist-age">Age: 28</p>
    <p class="stylist-description">Sed cursus mi vel mauris elementum, eget convallis mi ullamcorper. Quisque faucibus justo vel enim finibus, id lobortis mi semper.</p>
  </div>
  <div class="stylist-card">
    <img src="assets/images/man.jpg" alt="Stylist 2" class="stylist-image">
    <h3 class="stylist-name">Jane Smith</h3>
    <p class="stylist-age">Age: 28</p>
    <p class="stylist-description">Sed cursus mi vel mauris elementum, eget convallis mi ullamcorper. Quisque faucibus justo vel enim finibus, id lobortis mi semper.</p>
  </div>
</div>
<app-footer></app-footer>
