<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
    </ul>
  </nav>
</header>

<h1>Become A Model At Our Hairsalon</h1>
<div class="paragraph">
  <p>Thank you for expressing interest in becoming model for our hair salon. We are excited to review your application.
  <p>Please provide us with the following information to help us better understand your experience and qualifications:</p>
</div>

  <form name="forma">
  <label for="name">Full Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="phone">Phone number:</label>
  <input type="phone" id="phone" name="phone" required>

  <label for="age">Age:</label>
  <input type="age" id="age" name="age" required>

  <label for="message">Previous Experience:</label>
  <textarea id="message" name="message" placeholder="Previous experience with modeling..."></textarea>

    <button (click)="signupNow()">Sign Up</button>
</form>
<footer>
  <div class="footer-content">
    <div class="left-content">
      <div class="about-us">
        <h3>About Us</h3>
        <p>The Art of Hair Design. Experience the ultimate in hair design with our expert stylists.</p>
      </div>
      <div class="contact-info">
        <h3>Contact Information</h3>
        <p>Address: Ulica Dzemala Bijedica, Sarajevo, BiH.</p>
        <p>Phone: 555-555-5555</p>
        <p>Email: info@hairsalon.com</p>
      </div>
      <div class="newsletter">
        <h3>Subscribe to Our Newsletter</h3>
        <form>
          <input type="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>
        <div class="social-icons">
          <a href="https://www.facebook.com/CrnaHronikaBiHofficial"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/crnahronikabih/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="right-content">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d819.1379065033198!2d18.306851212728567!3d44.69970272140225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475e9e4885715907%3A0xa5bf3da37238e63a!2sFrizerski%20Salon%20%22Pilus%22!5e0!3m2!1sen!2sus!4v1686418456121!5m2!1sen!2sus" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</footer>

<p class="footer-bottom">&copy; 2023 Hair Salon. All Rights Reserved.</p>


