<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.avif" alt="Our Logo" [routerLink]="['/']">
    </a>
  </div>
  <nav>
    <ul>

      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/login']" class="login-btn">Login</a></li>
      <li><a [routerLink]="['/']" class="login-btn">Signup</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <form>
    <h1>Signup</h1>
    <div class="form-group">
      <p>
        <label>Firstname</label>
        <input matInput id="firstname" type="text" name="firstname" class="form-control" [(ngModel)]="firstname" required>
      </p>
      <p>
        <label>Lastname</label>
        <input matInput id="lastname" type="lastname" name="lastname" class="form-control" [(ngModel)]="lastname" required>
      </p>
      <p>
      <label>Email</label>
      <input matInput id="email" type="email" name="email" class="form-control" [(ngModel)]="email" required>
    </p>
      <p>
        <label>Username</label>
        <input matInput id="username" type="username" name="username" class="form-control" [(ngModel)]="username" required>
      </p>
      <p>
        <label>Password</label>
        <input matInput id="password" type="password" name="password" class="form-control" [(ngModel)]="password" required>
      </p>
      <p>
    </div>
    <button (click)="signup()" type="submit" class="btn btn-primary" >Signup</button>
    <a [routerLink]="['/signup']" >Don't have a account Sign up</a>

  </form>
</div>
<app-footer></app-footer>
