<header>
  <div class="logo">
    <img src="assets/images/logo.avif" alt="Our Logo">
  </div>
  <nav>
    <ul>

      <li><a href="#">Stylists</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
      <li><a [routerLink]="['/bookapointment']">Book Appointment</a></li>
      <li><a [routerLink]="['/modelsignup']">Model Sign-up</a></li>
      <li><a [routerLink]="['/aboutus']">About Us</a></li>
      <li><a [routerLink]="['/']" class="login-btn">Home</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <form >
    <h1>Sign Up</h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name"   required>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" id="surname"   required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email"  required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username"  required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password"  required>
    </div>
    <button type="submit" class="btn btn-primary" >Sign up</button>
  </form>
</div>
<app-footer></app-footer>
